<!DOCTYPE html>
 <html>
 <head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
   <title>Directions between places</title>

</head>
<body>
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Enter start point: <input id="address" type="text" />

        <input id="submit" type="submit" class="pull-right btn btn-success" />
        <input type="button" value="reset"  class="btn btn-danger" onClick="window.location.reload()">
    </div>

    <button type="button" id="no_stop" class="btn btn-warning hide_btn" > remove stopovers </button>
    <button type="button" id="add_stop" class="btn btn-warning"> add stopovers </button>
    <div class="panel-body">
      <div class="mode_sel">
          <input type="checkbox" id="walking" class="mode"><label for="walking" class="half-pad">walking</label>
          <input type="checkbox" id="biking" class="mode"><label for="biking" class="half-pad">biking</label>
          <input type="checkbox" id="transit" class="mode"><label for="transit" id="t_label" class="half-pad">transit</label>
      </div>


<div class="col-xs-12">
  <p class='s_msg' hidden>Enter up to 3 stopover addresses on the left OR search by keyword on the right</p>
  <p class='s_msg' hidden>When you are finished adding stopovers, click the "I'm feeling lucky" button </p>
  <div class="waypoints col-xs-5" hidden>
      <div class="row" id="stop1" >
        <label for="waypoint_1" style="padding-left:1em;">stopover 1</label>
        <input type="text" id="waypoint_1" placeholder="enter address">
        <input type="text" id="waypoint_1_hidden" placeholder="" hidden>
      </div>
      <div class="row" id="stop2" >
        <label for="waypoint_1" style="padding-left:1em;">stopover 2</label>
        <input type="text" id="waypoint_2" placeholder="enter address">
      </div>
      <div class="row" id="stop3" >
        <label for="waypoint_1" style="padding-left:1em;">stopover 3</label>
        <input type="text" id="waypoint_3" placeholder="enter address">
      </div>
    </div>

    <div class="waypoints col-xs-7" hidden>
      <div class="row">
          <div class="kwf" style="display:inline-block">
            <div id="keywordField">Keyword:<input id="keyword" type="text" value="" /></div>
          </div>
        <div id="controls" style="display:inline-block">
          <span id="typeLabel">Type:</span>
          <select id="type">
            <option value="bank">Bank</option>
            <option value="bar">Bars</option>
            <option value="cafe">Cafe</option>
            <option value="clothing_store">Clothing store</option>
            <option value="pharmacy">Pharmacy</option>
            <option value="restaurant" selected="selected">Restaurants</option>
            <option value="store">Store</option>
          </select>
            <input type="text" id="rankBy" value="distance" hidden>
        </div>

        <div class="kwf" style="display:inline-block">
          <div id="keywordField">Keyword:<input id="keyword2" type="text" value="" /></div>
        </div>
      <div id="controls" style="display:inline-block">
        <span id="typeLabel">Type:</span>
        <select id="type2">
          <option value="bank">Bank</option>
          <option value="bar">Bars</option>
          <option value="cafe">Cafe</option>
          <option value="clothing_store">Clothing store</option>
          <option value="pharmacy">Pharmacy</option>
          <option value="restaurant" selected="selected">Restaurants</option>
          <option value="store">Store</option>
        </select>
      </div>

      <div class="kwf" style="display:inline-block">
        <div id="keywordField">Keyword:<input id="keyword3" type="text" value="" /></div>
      </div>
      <div id="controls" style="display:inline-block">
        <span id="typeLabel">Type:</span>
          <select id="type3">
            <option value="bank">Bank</option>
            <option value="bar">Bars</option>
            <option value="cafe">Cafe</option>
            <option value="clothing_store">Clothing store</option>
            <option value="pharmacy">Pharmacy</option>
            <option value="restaurant" selected="selected">Restaurants</option>
            <option value="store">Store</option>
          </select>
      </div>
      </div>
    </div>
    <button type="button" id="kw_submit" class="pull-right btn btn-success hide_btn" >I'm feeling' lucky!</button>
</div>





  </div>
</div>

</div>

<div style="width: 600px;">
 <div id="map" style="width:500px; height: 500px;margin-left:15px;"></div>
</div>

<div class="container col-xs-8">
  <div id='panel'></div>
</div>

</body>
</html>
