
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}

.pad {
  padding: 1em;
}
.half-pad {
  padding: 0.5em;
}

.waypoints {

  padding:  0;
}
.label{
  padding-left: 1em;
}
.keywordsLabel {
  font-size: 0.5em;
}
.hide_btn {
  display: none !important; 
}
